/*=============================================================================
Only the first-time uses of the required CSS elements are marked with 
a comment on the right side of the code. 
If elements are used more than once, they are not commented on for easy tracking.
The order of creation is index.css -> gallery.css. 
Because of this, most first-time uses of elements will appear in index.css.
==============================================================================*/

/*Resetting defaults*/
*{
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}
/*Background color*/
body {
  background-color: hsla(192, 69%, 77%, 0.9);
}
/*Navigation menu*/
nav {
  display: inline; 
  position: relative; /*position relative*/
  top: 40px; 
  left: 20px;
  bottom: auto; 
  background-color: rgb(9, 12, 15); 
  padding: 20px 40px;
  word-spacing: 20px; 
}
nav a {
  color: #9cdded;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
}
nav a:hover {
  color: #1f6476;
  text-transform: uppercase;
  font-weight: bold;
}
/*Base style for all images*/
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  display: inline-block; /*display inline-block*/
  justify-content: center;
}
/*The Northen Lights -title*/
.title1 {
  background-color: rgb(9, 12, 15);
  color: #9cdded;
  position: sticky; /*position sticky*/
  top: 0;
  z-index: 1; /*z-index*/
}
/*Silence In Winter -title*/
.title2 {
  background-color: rgb(9, 12, 15);
  color: #9cdded;
  position: sticky;
  top: 0;
  z-index: 2; 
/*Life In The Cold -title*/
}
.title3 {
  background-color: rgb(9, 12, 15);
  color: #9cdded;
  position: sticky; 
  top: 0;
  z-index: 3;
}

/*The Northen Lights -section of the gallery (all images)*/
.G1 {
  text-align: center;
  margin: 100px auto;
  position: relative
}
/*Background picture for The Northen Lights -section */
.aurora_back {
  position: absolute; /*position absolute*/ 
  right: 0; /*right*/
  width: 2000px;
  height: 1800px;
  top: -110px;
  z-index: -1;
}

/*Silence In Winter -section of the gallery (all images)*/
.G2 {
  text-align: center;
  margin: 100px auto;
  position: relative;
}
/*Background picture for Silence In Winter -section*/
.mountain_back {
  position: absolute;
  right: 0; 
  width: 2000px;
  height: 1800px;
  top: -110px;
  z-index: -1;
}
/*Style for individual pictures in Silence In Winter -section*/
.cabin {
  position: static;/*position static*/
}
.mountain {
  position: static;
}
.cabin2 {
  position: static;
}
/*Life In The Cold -section of the gallery*/
.G3 {
  text-align: center;
  margin: 100px auto;
  display: block;
  position: relative;
}
/*Background picture for Life In The Cold -section*/
.forest_back {
  position: absolute;
  bottom: -1600px; /*bottom*/
  right: 0;
  width: 2000px;
  height: 1800px;
  z-index: -1;
}
/*Style for individual pictures in Life In The Cold -section*/
.bird {
  float: left; /*float*/
  margin-left: 100px;
  margin-bottom: 5px;
}
.deer {
  float: right;
  clear: left; /*clear*/
  margin-right: 100px;
  margin-bottom: 5px;
}
.bird2 {
  float: left;
  clear: right;
  margin-left: 100px;
}
/*General styling for text*/
h2 {
  color: rgb(10, 13, 16);
  padding: 30px;
  margin-top: 100px;
  text-align: center;
}
