/*=============================================================================
Only the first-time uses of the required CSS elements are marked with 
a comment on the right side of the code. 
If elements are used more than once, they are not commented on for easy tracking.
The order of creation is index.css -> gallery.css. 
Because of this, most first-time uses of elements will appear in index.css.
==============================================================================*/

/*Resetting defaults*/
*{
  padding: 0;
  margin: 0;
  font-family: "Raleway"; /*font-family - changes the text for the whole index page*/
}

@font-face {
  font-family: "Raleway";
  src: url("font/Raleway-VariableFont_wght.ttf") format("truetype"); /*font-face*/
}

/*Background*/
body {
  background-image: url(photo_gallery/forest.jpg);
  background-size: cover;
  background-color: #9cdded; 

}
 /*Navigation menu*/
nav {
  display: inline; /*display inline*/
  position: fixed; /*position fixed*/
  top: 20px; /*top*/
  left: 20px; /*left*/
  background-color: rgb(9, 12, 15); /*color using RGB*/
  padding: 20px 40px;
  word-spacing: 20px; /*word spacing*/
  z-index: 10; /*z-index*/
}
nav a {
  color: #9cdded; /*color using HEX*/
  text-transform: uppercase; /*text-transform - makes navigation links uppercase*/
  font-weight: bold; /*font-weight*/
  transition: 0.5s;
}

nav a:hover {
  color: #1f6476; 
  text-transform: uppercase; 
  font-weight: bold;
}
/*Text under main title*/
.title_under {
  display: block; /*display block*/
  position: static; /*position static*/
  background-color: white; /*named color*/
  text-align: center; /*text-align*/
  padding: 10px;
  margin: 0px 200px;
  border-radius: 5px;
  transition: 1s;
}
/*About -section*/
.about { 
  display: block;
  position: static;
  background-color: hsla(192, 69%, 77%, 0.9); /*opacity using HSLA*/
  text-align: center;
  padding: 10px 50px;
  margin: 120px 200px;
  margin-top: 150px;
  border-radius: 5px;
  line-height: 30px; /*line-height - adjusts the line height of the p-text in the about section*/
  transition: 1s;
}
/*Styling for main title*/
h1 {
  font-size: 80px;
  text-align: center;
  color: hsl(210, 23%, 5%) ; /*color using HSL*/
  padding: 40px 40px 20px 40px;
  margin-top: 80px;
  letter-spacing: 3px; /*letter spacing*/
  text-transform: uppercase;
}
/*Styling for secondary titles*/
h2 {
  color: rgb(10, 13, 16) ;
  padding-top: 10px;
}
/*Styling for plain text*/
p {
  margin: 10px 0px;
}
/*Styling for "Experience the beauty of winter."*/
.title_under p {
  font-style: italic; /*font-style - changes the p-text in the title section*/
}

